
/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++++++++++++
                                               +                                 +
                                               +   Global classes (every page)   +
                                               +                                 + 
                                               +++++++++++++++++++++++++++++++++++
                                            */


.loader {
    position: absolute;
    border: 16px solid 	#FA8072; /* Light grey */
    border-top: 16px solid  	#D2691E; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left:30%;
    margin-right:50px;
    margin-top:50px;
    animation: spin 2s linear infinite;
    z-index: 4;
}

@keyframes spin 
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


.main_body
    {
        background-image: url("../imgs/body-bg.png");
        
    }
.home-btn
    {
        color:blue;
        border:none;
        background-color:  	#E6E6FA;
        height:70px;
        border-radius:100%;

        font-size: 20px;
        font-weight:bold;
        font-family:Times New Roman Times, serif;
    }
.out-let-name
{
    font-size: 20px;
    font-weight:bold;
    color:white;
    font-family:Times New Roman Times, serif;
    background-image: url("../imgs/out-let-name-bg.png");
}


.view-btns
{
    background-color:#708090;
    border:none;
    width:100%;
    height:50px;
    border-radius:0px;
}


/* ====================================pou ups  */
/* Popup container - can be anything you want */
.popup, .popup2, .popup3
    {
        position:relative;
        display: inline-block;
        cursor: pointer;
    }

/* The actual popup */
.popup .popuptext, .popup2 .popuptext2, .popup3 .popuptext3
{
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    
}

/* Popup arrow */
.popup .popuptext::after, .popup2 .popuptext2::after, .popup3 .popuptext3::after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show,.popup2 .show2, .popup3 .show3 
{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   index page   +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */

.home-log-img
{
    height: 230px;
    width: 95%;
    margin-top: -35px;
    border-radius: 45px;
}


.home_page_fonts
{
    font-size: 20px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.home-holdings-btn
    {
        background-color:#708090;
        border:none;
        width:100%;
        height:33px;
        /* background-image: url("../imgs/home-holding-btn.png") */
        /* border-radius:18px; */
    }
.home-holdings-cat-btn
{
    background-color:#708090;
    /* background-image: url("../imgs/out-let-name-bg.png"); */
    border:none;
    width:130px;
    height:33px;
    border-radius:50%;
}
.home-right-float-btn
{
    float: right;
}
.home-left-float-btn
{
    float: left;
}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   sadolin_entries_page   +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */


.sadolin_form
{
    font-family: 'Open Sans Condensed', arial, sans;
	width: 250px;
	padding: 30px;
	background: #FFFFFF;
    margin: 50px auto;
    margin-top: -0px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);


}

.sadolin_form_input
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 200;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    text-align: center;

}
.sadolin_form_input:focus
{

border-bottom: 2px solid black;
}

#inner-clear-submite-div
{
    /* width: 50%; */
    background-color: inherit;
}

.sadolin-form-title-labels

{
    font-family: Georgia, "Times New Roman", Times, serif; 	
    font-size: 18px; 
    color: blue;
    font-style: iterlic;
    font-weight:bold;
}
.submite-btn 
{
    /* float: right; */
    margin-top: 15px;
    margin-left: -10px;
    border-radius: 50px;
    height: 43px;
    width: 230px;
    background-color: #2196F3;
}
.entries_page_fonts
{
    font-size: 20px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.chint_entries_page_fonts
{
    font-size: 19px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.clour_types_btn
{
    background-color:#708090;
    border:none;
    width:100%;
    height:50px;
    border-radius:18px;
}


.color-types-btn
{
    background-image: url("../imgs/color-types-btn.png");
    border:none;
    width:100%;
    height:50px;
    border-radius:18px;
}



.clour_types_btn_close
{
    background-image: url("../imgs/close-btn.png");
    border:none;
    width:100%;
    height:30px;
    border-radius:10px;
}


.clear-btn
{
    width: 120px;
    margin-left: 25px;
    background-image: url("../imgs/clear-btn.png");
    height:40px;
    border-radius:50px;
}
.sadolin-view-all-btn
    {
        background-color: blue;
        height: 30px;
        border-radius: 25px;
        
    }


/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   Sadolin view bg stock  +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */



.view-btns-grand-child
{
    background-color:green;
    border:none;
    width:30%;
    height:45px;
    border-radius:10px;
}

.js_table_headers
{
    background-color:#4CAF50;
}
.js_table_row
{
    background-color:#2196F3;
    /* color: white; */
    border-bottom:1px solid #ddd;
    font-size: 18px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
    
}
.js_table_row:hover
{
    background-color: black;
    cursor: pointer;

}

.user-scrolling-table
{
    display:block;
    overflow: auto;
    height: 400px;
    width: 100%;
    /* margin-left:30%;
    margin-right:30%; */
    /* align-content: center; */
}

.stock-status-table
{
    display:block;
    overflow: auto;
    height: 400px;
    width: 100%;
    margin-left:50px; 
    margin-right:50px;
}

.agency-details-table
{
    display:block;
    overflow: auto;
    height: 400px;
    width: 100%;
    
}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   Mapei entry page       +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */


.type-img
{
    height: 100px;
    width: 100%;
    /* margin-top: -35px; */
    /* border-radius: 45px; */

}
.type-img-entries
{
    height: 180px;
    margin-top: -20px;
    width: 180px;
    border-radius: 25px;

}
.item-name-img
{
    height: 180px;
    width: 50%;
    /* margin-top: -35px; */
    border-radius: 20px;

}